@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{

}
h1{
  font-family: 'Fjalla One';
  font-size: 80px;
  margin-bottom: 150px;
}

h2, h3{
font-family: 'Fjalla One';
}

.bground{
  position: absolute;
  z-index: -1;
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   opacity: 0.3;
   filter: contrast(130%);
   transform: rotate(180deg);
   top: 0;

}

#projects{
  margin-bottom: 50px;
}

#extras{
  height: auto;
margin: 100px 25px 50px 25px;
display: flex;
justify-content: center;
align-items: center;
line-height: 30px;
background-color: lightyellow;


}
 a img, #projects img{
  Max-width: 90%;
  width: auto;
  border: 1px solid black;
}

p, ul{
  font-family: 'Roboto';
  margin: 0 5% 0 5%;

}
#main{
  position: relative;
  text-align: center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  top: 150px;
}

#footer{
  background-color: black;
  width: 100%;
  height: 200px;
  padding-top: 50px;
  color: white;
}

#footer img{
  height:80px;
  width: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
}
#header{
}
ul{
  padding: 30px 50px;
}

li{
    text-decoration: none;
    text-align: left;
}

#recent{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
}
span{
background-color: lightBlue;
font-size: 14px;
padding-bottom: 15px;

}
span img{
max-width: 100%;
padding-bottom: 15px;

}
